@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*border: none;
    outline: none;*/
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #7b4bb7;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}
/*
html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
*/
.header {
    /* header at top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 15%;

    /* transparent header effect */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    /* item placement */
    display: flex; /* flexible container */
    justify-content: space-between; /* items side-by-side with all available space between */
    align-items: center;
    z-index: 100;
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer; /* indicates something clickable */
    transition: 0.3s ease-in-out; /* smooth transition for hover effect */
    /*text-wrap: nowrap; /* no line break when side gets smaller */
}
.logo:hover {
    transform: scale(1.1);
}
span {
    background: linear-gradient(
        270deg,
        #7b4bb7 10%,
        #aa507c 100%
    );

    /* put gradient inside text */
    background-clip: text;
    color: transparent;
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem; /* space between items */
    font-weight: 500;
    transition: 0.3s ease-in-out;

    /* underline effect */
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active {
    color: var(--main-color);

    /* underline effect */
    border-bottom: 3px solid var(--main-color);
}
/*
@media (max-width: 995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 1 rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}
*/

section {
    min-height: 100vh; /* cover entire page */
    padding: 10rem 15%; /* match with header and all other sections */
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem; /* gap between itmes */
    background: var(--bg-color);
}
.home-content {
    display: flex;
    flex-direction: column; /* items on top of each other */

    /* right alignment */
    align-items: flex-end;
    text-align: right;
}
.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3 {
    margin: 1rem 0; /* 1rem top/bottom, 0 sides */
    font-size: 4em;
}
.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8; /* easier readability */
}
.home-img img {
    /*position: relative;*/
    width: 32vw; /* image size 32% of viewport width */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.social-links a {
    /* center multiple icons side-by-side horizontally */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-links a:hover {
    color: var(--text-color);
    background: var(--main-color);
    transform: scale(1.2)translateY(-5px); /* chain transform effects */
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    /* default button style */
    display: inline-block;
    padding: 1rem 3rem;

    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;

    border-radius: 2px solid transparent;
    transition: 0.3s ease;

    cursor: pointer;
    text-wrap: nowrap;
}
.btn:hover {
    transform: scale(1.05);
    /*
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    */
    filter: drop-shadow(0 0 25px var(--main-color));
}
.btn-group a:nth-of-type(2) {
    /* change second button */
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
}

/*
span {
    color: var(--main-color);
}

.home-img {
    border-radius: 50%;
}

.typewriter {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typewriter span {
    position: relative;
}

.typewriter span::before {
    content: 'Game Developer';
    color:  var(--main-color);
    animation: words 20s infinite;
}

.typewriter span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100%, 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--main-color);
    }
}

@keyframes words {
    0%, 33% {
        content: 'Game Developer';
    }
    34%, 66% {
        content: 'Software Engineer';
    }

    67%, 100% {
        content: 'Storyteller';
    }
}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }

    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
*/