@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #7b4bb7;
    --grad-color: #aa507c;

    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-size: 1.125rem;
    --line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
.no-scroll {
  overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* header at top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 15%;

    /* transparent header effect */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    /* item placement */
    display: flex; /* flexible container */
    justify-content: space-between; /* items side-by-side with all available space between */
    align-items: center;
    z-index: 100;

    /* hidden nav bar for home section */
    opacity: 0;
    pointer-events: none; /* disable interaction when hidden */
    transition: opacity 0.2s ease-in-out;
}
.header.visible {
  opacity: 1;
  pointer-events: auto;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer; /* indicates something clickable */
    transition: 0.3s ease-in-out; /* smooth transition for hover effect */
    /*text-wrap: nowrap; /* no line break when side gets smaller */
}
.logo:hover {
    transform: scale(1.1);
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
    z-index: 2;
}
#menu-icon:hover {
    transform: scale(1.1);
}
#menu-icon.fa-bars {
    color: var(--main-color);
}
#menu-icon.fa-xmark.open {
    color: var(--text-color);
}
#menu-icon.fa-xmark.open:hover {
    transform: scale(1.2);
    color: var(--second-bg-color);
}

span {
    background: linear-gradient(
        270deg,
        #7b4bb7 10%,
        #aa507c 100%
    );

    /* put gradient inside text */
    background-clip: text;
    color: transparent;
}
.mobile-navbar {
    display: none;
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem; /* space between items */
    font-weight: 800;
    transition: 0.3s ease-in-out;

    /* underline effect */
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

    /* underline effect */
    border-bottom: 3px solid var(--main-color);
}

section {
    min-height: 100vh; /* cover entire page */
    padding: 10rem 15%; /* match with header and all other sections */
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--bg-color), transparent);
    z-index: 1000;
}
.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: 1000;
    mix-blend-mode: color;
}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#mountain_moon {
    height: auto;
    max-height: 100vh;
}
#greeting {
    position: relative;
    color: var(--text-color);
    font-size: 8vw;
    z-index: 1;
}
#mountain_front {
    z-index: 2;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem; /* gap between itmes */
    background: var(--bg-color);
}
.aboutme-content {
    display: flex;
    flex-direction: column; /* items on top of each other */

    /* right alignment */
    align-items: flex-end;
    text-align: right;
}
.aboutme-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.aboutme-content h3 {
    margin: 1rem 0; /* 1rem top/bottom, 0 sides */
    font-size: 3em;
}
.aboutme-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8; /* easier readability */
}
.aboutme-img img {
    /*position: relative;*/
    width: 32vw; /* image size 32% of viewport width */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.aboutme-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.social-links a {
    /* center multiple icons side-by-side horizontally */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-links a:hover {
    color: var(--text-color);
    background: var(--main-color);
    transform: scale(1.2)translateY(-5px); /* chain transform effects */
    box-shadow: 0 0 25px var(--main-color);
}
.typewriter {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
#typewriter-text {
  border-right: 3px solid var(--main-color); /* cursor */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom; /* align baseline with surrounding text */
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}
.btn {
    /* default button style */
    display: inline-block;
    padding: 1rem 3rem;

    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;

    border-radius: 2px solid transparent;
    transition: 0.3s ease;

    cursor: pointer;
    text-wrap: nowrap;
}
.btn:hover {
    transform: scale(1.05);
    /*
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    */
    filter: drop-shadow(0 0 25px var(--main-color));
}
.btn-group a:nth-of-type(2) {
    /* change second button */
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
}

.heading {
    text-align: left;
    font-size: 7rem;
    margin: 5rem 0;
}

.experience {
    background-color: var(--bg-color);
    color: black;
}
.experience h2 {
    color: var(--text-color);
}
.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
    row-gap: 3.5rem;
}
.experience-article {
    position: relative;
    overflow: hidden;
}
.experience-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.experience-info {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.experience-info h4 {
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 800;
}
.experience-info i {
    font-size: 8rem;
}
.experience-info a {
    color: var(--bg-color);
}
.experience-info a:hover {
    color: var(--text-color);
}
.experience-data {
    width: 350px;
    background-color: var(--second-bg-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 3rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}
.experience-description {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}
.experience-text {
    color: var(--text-color);
}
.experience-title {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: .75rem;
}
.experience-article:hover .experience-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.experience-article:hover {
    animation: remove-overflow 2s forwards;
}
.experience-article:not(:hover) {
    animation: show-overflow 2s forwards;
}
.experience-article:not(:hover) .experience-data {
    animation: remove-data 1s forwards;
}
/* card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}
@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}
@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

.contact {
    background-color: var(--bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form {
    display: flex;
    align-items: center;

    /* side-by-side input groups */
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;

    text-align: center;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none; /* for textarea */
}

.footer {
    background-color: var(--second-bg-color);
    padding: 50px 0;
}
.footer .social-links {
    text-align: center;
}
.footer ul {
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li {
    display: inline-block; /* items stay side-by-side */
    margin-left: 20px;
}
.footer ul li a {
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

/* media queries always last (overwriting) */
@media (max-width: 1285px) {
    #menu-icon {
        display: block; /* make icon visible */
    }
    .navbar {
        display: none;
    }
    .mobile-navbar {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform var(--nav-duration);
        z-index: 1;
    }
    .mobile-navbar::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transform-origin: 0 50%;
        z-index: -1;
    }
    .mobile-navbar ul {
        font-size: 12vmin;
        width: 100%;
    }
    .mobile-navbar li {
        --border-size: 1vmin;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .mobile-navbar li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--border-size);
        background-color: var(--text-color);
        transform-origin: 0 50%;
        transform: translateX(-100%) skew(15deg);
    }
    .mobile-navbar a {
        display: inline-block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        color: var(--text-color);
        line-height: 1;
        text-decoration: none;
        user-select: none;
        padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
        transform: translateY(100%);
    }
    .mobile-navbar {
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    }
    .mobile-navbar.active {
        transform: translateX(0);
    }

    .mobile-navbar.active::after {
        animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }

    .mobile-navbar.active li::after {
        animation: nav-line var(--duration) var(--ease) forwards;
    }

    .mobile-navbar.active a {
        animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }
    .mobile-navbar a:hover,
    .mobile-navbar a.active {
        padding: 1 rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--second-bg-color);
        color: var(--second-bg-color);
    }

    @keyframes nav-bg {
    from { transform: translateX(-100%) skewX(-15deg) }
    to { transform: translateX(0) }
    }
    @keyframes nav-line {
    0%   { transform: scaleX(0); transform-origin: 0 50%; }
    35%  { transform: scaleX(1.001); transform-origin: 0 50%; }
    65%  { transform: scaleX(1.001); transform-origin: 100% 50%; }
    100% { transform: scaleX(0); transform-origin: 100% 50%; }
    }
    @keyframes link-appear {
    0%, 25%   { transform: translateY(100%); }
    50%, 100% { transform: translateY(0); }
    }

    .gradient-btn {
        display: none;
    }

    .heading {
        text-align: center;
    }
    
    .aboutme {
        flex-direction: column-reverse; /* switch order of divs */
        margin: 5rem 0;
        gap: 5rem;
    }
    .aboutme .aboutme-content {
        align-items: center;
        text-align: center;
    }
    .aboutme .aboutme-img img {
        width: 56vw;
    }
    .contact form {
        flex-direction: column;
    }
}